<ion-view title="Contact" id="page3" style="background-color:#9A00D4;" class=" ">
    <ion-content padding="true" style="background: url(img/lPtSUZ2JQKCQTUrQWv5G_black_light_dark_figures_73356_1920x1080.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form id="contact-form5" class="list ">
            <div class="">
                <img src="img/vL7ay1V8SxGF0XxVpeU9_KMAS X NEW LOGO PNG (1).jpg" width="300" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <label class="item item-input " id="contact-input2">
                <span class="input-label">Email</span>
                <input type="email" placeholder="">
            </label>
            <label class="item item-input " id="contact-input3">
                <span class="input-label">Phone number</span>
                <input type="tel" placeholder="">
            </label>
            <label class="item item-select " id="contact-select1">
                <span class="input-label">Are you Interest in our products?</span>
                <select>
                    <option>Yes</option>
                    <option>No</option>
                    <option>I Want more informations</option>
                </select>
            </label>
            <label class="item item-input " id="contact-input4">
                <span class="input-label">Ask any</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a href="mailto:wasura.ediri@gmail.com" id="contact-button2" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>