<ion-view title="Home" id="page1" style="background-color:#9A00D4;" class=" ">
    <ion-content padding="true" style="background: url(img/xY2f5flSU2QV5MwP92AO_black_light_dark_figures_73356_1920x1080.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="home-video2" class=" ">
            <iframe src="https://www.youtube.com/embed/wnMgeZGqr10?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        </div>
        <ion-list id="home-list3" class=" ">
            <ion-item class="item-thumbnail-left  " id="home-list-item7">
                <img src="img/IjUO3Pl8Qy3Tn3qwm5ag_KMAS X NEW LOGO PNG.png">
                <h2>K-MAS Xpedia is a IT Solution Company engaged in developing out-of-box products that aim to bring smartness</h2>
                <p style="white-space:normal;">to the usual way of how businesses, schools or institutions operate. We provide solutions that are designed to be rapidly customized and developed even across large operations.</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>